@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

.heading {
    font-family: "Quicksand", sans-serif;
    color: #000;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 80px 0 285px 0 !important;
}

.caption {
  color: #00000090;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  color: #000;
  }
  
.description {
  padding: 0 0 25px 0;
}
/* #root {
    backdrop-filter: blur(10px);
} */

section[data-testid='stSidebar'] * {
    background-color: transparent;
    flex-shrink: unset;
}

.stMarkdown {
    background-color: transparent;
    /* backdrop-filter: blur(10px); */
}

div[data-testid="stDataFrameResizable"] * {
    background-color: transparent;
}

button[data-testid='baseButton-secondary'] {
    background-color: #ffffff10;
    /* border-color: #ffffff95; */
    backdrop-filter: blur(100px);
}

a[data-testid="baseLinkButton-secondary"] {
    background-color: #ffffff50;
    /* border-color: #ffffff95; */
    backdrop-filter: blur(100px);
}

div[data-testid="stExpander"] {
    border-color: #ffffff95;
    backdrop-filter: blur(10px);
    background-color: #ffffff75;
    border-radius: 1vh;
}

div[data-testid="stExpander"] img {
    border-radius: 5px;
}

button[data-testid="StyledFullScreenButton"] {
    display: none;
}

div[data-testid="stMultiSelect"] {
    background-color: transparent;
}

.stSelectbox * {
    background-color: transparent;
}

div[data-baseweb="select"] *
{
    background-color: transparent;
}

a[data-testid="stSidebarNavLink"]
{
    display: none;
}

div[data-testid="stSidebarNavSeparator"]
{
    display: none;
}

ul[data-testid="stSidebarNavItems"]
{
    display: none;
}

div[data-testid="stVerticalBlock"]
{
    background-color: transparent;
}

svg[data-testid="stExpanderToggleIcon"]
{
    display: none;
}

/* div[data-testid="stVerticalBlockBorderWrapper"]
{
    background-color: transparent;
    backdrop-filter: blur(10px);
} */

/* .stTextArea *
{
    background-color: transparent;
    border-color: #ffffff80;
} */

/* span[data-baseweb="tag"]
{
    background-color: #ffffff05;
    border: 1px solid #ffffff80;
} */

section[data-testid="stSidebar"]
{
    background-color: #111111 !important;
}

div[data-baseweb="popover"] *
{
    background-color: transparent !important;
}

.plotly * {
    background-color: transparent !important;
}

@media(hover:hover) and (min-width: 600px) and (max-width: 769px){
    header[data-testid="stHeader"] {
        display:none;
    }

    section[data-testid='stSidebar'] {
        height: 100%;
        min-width:95px !important;
        width: 95px !important;
        margin-left: 305px;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: transparent;
        overflow-x: hidden;
        transition: 0.5s ease;
        padding-top: 60px;
        white-space: nowrap;
    }

    /* section[data-testid='stSidebar']:hover{
        min-width: 330px !important;
    } */

    button[kind="header"] {
        display: none;
    }

    div[data-testid="collapsedControl"]{
        display: none;
    }
}

@media(hover: hover) and (min-width: 769px){

    header[data-testid="stHeader"] {
        display:none;
    }

    section[data-testid='stSidebar'] {
        height: 100%;
        min-width:95px !important;
        width: 95px !important;
        transform:translateX(0px);
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: transparent;
        overflow-x: hidden;
        transition: 0.5s ease;
        padding-top: 60px;
        white-space: nowrap;
    }

    /* section[data-testid='stSidebar']:hover{
        min-width: 330px !important;
    } */

    button[kind="header"] {
        display: none;
    }

    div[data-testid="collapsedControl"]{
        display: none;
    }
}